<configuration>
	<appSettings>
		<add key="SecretKey" value="YourSuperSecretKeyHere"/>
		<add key="TokenExpiryMinutes" value="20"/>
	</appSettings>
	<system.web>
		<compilation debug="true">
		</compilation>
	</system.web>
	<system.serviceModel>
		<services>
			<service name="OAuthWcfApp.Services.UserService" behaviorConfiguration="ServiceBehaviour">
				<endpoint address="" binding="basicHttpBinding" contract="OAuthWcfApp.Services.IUserService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="OAuthWcfApp.Services.TokenService" behaviorConfiguration="ServiceBehaviour">
				<endpoint address="" binding="basicHttpBinding" contract="OAuthWcfApp.Services.ITokenService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehaviour">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceAuthorization serviceAuthorizationManagerType="OAuthWcfApp.Authorize.RoleBasedAuthorizationManager, OAuthWcfApp"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="false"/>
	</system.serviceModel>
	<system.webServer>
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>
