<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="SecretKey" value="YourSuperSecretKeyHere" />
		<add key="TokenExpiryMinutes" value="20" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
		<authentication mode="Windows" />
	</system.web>
	<system.webServer>
		<directoryBrowse enabled="true"/>
	</system.webServer>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="ServiceBehaviour" name="OAuthWcfApp.Services.UserService">
				<endpoint address="" binding="webHttpBinding" contract="OAuthWcfApp.Services.IUserService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="ServiceBehaviour" name="OAuthWcfApp.Services.TokenService">
				<endpoint address="" binding="webHttpBinding" contract="OAuthWcfApp.Services.ITokenService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehaviour">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<!--<serviceAuthorization serviceAuthorizationManagerType="OAuthWcfApp.Authorize.RoleBasedAuthorizationManager, OAuthWcfApp" />-->
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<!--<extensions>
			<behaviorExtensions>
				<add name="customHeaderMessageInspector" type="OAuthWcfApp.Authorize.CustomHeaderMessageInspectorElement, OAuthWcfApp" />
			</behaviorExtensions>
		</extensions>-->
	</system.serviceModel>
</configuration>
