<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="SecretKey" value="YourSuperSecretKeyHere" />
		<add key="TokenExpiryMinutes" value="20" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
	</system.web>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="ServiceBehaviour" name="OAuthWcfApp.Services.UserService">
				<endpoint address="" binding="webHttpBinding" contract="OAuthWcfApp.Services.IUserService" behaviorConfiguration="web">
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="ServiceBehaviour" name="OAuthWcfApp.Services.TokenService">
				<endpoint address="" binding="webHttpBinding" contract="OAuthWcfApp.Services.ITokenService" behaviorConfiguration="web">
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="web">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehaviour">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="false" />
					<serviceAuthorization serviceAuthorizationManagerType="OAuthWcfApp.Authorize.RoleBasedAuthorizationManager, OAuthWcfApp" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<extensions>
			<behaviorExtensions>
				<add name="customHeaderMessageInspector" type="OAuthWcfApp.Authorize.CustomHeaderMessageInspectorElement, OAuthWcfApp" />
			</behaviorExtensions>
		</extensions>
	</system.serviceModel>
	<system.webServer>
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>
