<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<compilation debug="true" />
		<authentication mode="Windows" />
	</system.web>
	<system.webServer>
		<directoryBrowse enabled="true"/>
	</system.webServer>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="TestWCF.TokenServiceBehavior" name="TestWCF.TokenService">
				<endpoint address="" binding="webHttpBinding" contract="TestWCF.ITokenService" behaviorConfiguration="web">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="web">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="TestWCF.TokenServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

</configuration>
